<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">

</head>

<body>

    <h2>Editar estudiante</h2>

    <form action="/actualizar" method="POST">

        <label>ID:</label>
        <input type="hidden" name="id" value="{{ dato[0] }}">

        <input type="text" value="{{ dato[0] }}" disabled>

        <label>Nombre:</label>
        <input type="text" name="nombre" value="{{ dato[1] }}">

        <label>Edad:</label>
        <input type="number" name="edad" value="{{ dato[2] }}">

        <button type="submit">Actualizar</button>
    </form>

</body>

</html>