<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar estudiante</title>
<link rel="stylesheet" href="/static/estilos.css"></head>
<body>

    <h2>Editar estudiante</h2>

    <form action="{{ url_for('actualizar') }}" method="post">
        <input type="hidden" name="id" value="{{ dato[0] }}">
        <input type="text" name="nombre" value="{{ dato[1] }}">
        <input type="number" name="edad" value="{{ dato[2] }}">
        <button type="submit">Actualizar</button>
    </form>

    <div style="text-align:center;">
        <a href="{{ url_for('inicio') }}">Volver</a>
    </div>

</body>
</html>