<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de estudiantes</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>

    <h2>Formulario de estudiantes</h2>

    <form action="{{ url_for('guardar') }}" method="post">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="number" name="edad" placeholder="Edad">
        <button type="submit">Guardar</button>
    </form>

      <form action="{{ url_for('consultar') }}" method="POST">
        <input type="number" name="id" placeholder="Buscar por ID" required>
        <button type="submit">Buscar</button>
        <a href="/listar">Mostrar todos</a>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{ messages[0] }}")
    </script>
    {% endif %}
    {% endwith %}

    <hr>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in listado %}
            <tr>
                <td>{{ fila[0] }}</td>
                <td>{{ fila[1] }}</td>
                <td>{{ fila[2] }}</td>
                <td>
                    <a href="{{ url_for('eliminar', id=fila[0]) }}"
                       onclick="event.preventDefault(); document.getElementById('eliminar-{{ fila[0] }}').submit();">
                        Eliminar
                    </a>
                    <a href="{{ url_for('editar', id=fila[0]) }}">
                        Editar
                    </a>
                </td>
            </tr>

            <form id="eliminar-{{ fila[0] }}" action="{{ url_for('eliminar', id=fila[0]) }}" method="post"></form>

            {% endfor %}
        </tbody>
    </table>

</body>
</html>-